/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import './normalize.css'; */

html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 14px;
}

ul.table {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    font-size: small;
    /* border: 1px solid #cfcfcf; */
}

ul.table>li {
    margin: 0;
}

ul.table>li ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul.table>li.header>ul>li {
    margin: 5px;
    text-align: center;
}

div.mat-form-field-infix {
    width: 100%;
}

.mat-menu-item {
    font: inherit;
}

.mat-option {
    font: inherit;
}

.mat-card {
    font: inherit;
}

.mat-card-header-text {
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}