/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./unsemantic-grid-responsive.css";
@import "./materialize.css";
@import "./layout.css";

body {
  /* font-family: "Roboto Mono", "Arial", "sans-serif"; */
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* font-size: 14px;
  font-weight: 400px; */
}

input,
textarea,
select,
button {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.mat-list-item {
  font: inherit;
}

.mat-menu-item {
  font: inherit;
}

.mat-list-item .mat-icon {
  margin-right: 1rem;
}

.mat-option {
  font: inherit;
}

.mat-card {
  font: inherit;
}

.mat-card-header-text {
  margin: 0;
}

.suffix {
  display: flex;
  margin-left: 3px;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.mat-list-option.mat-list-item-focus,
.mat-list-option:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(241, 241, 241);
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-underline {
  bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  /* padding-bottom: 0; */
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  /* bottom: 0; */
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-row:hover {
  background-color: rgba(242, 242, 242, 0.5);
}