<h3 mat-dialog-title>Create Group</h3>
<form [formGroup]="groupForm" class="group-form">
  <mat-form-field>
      <input type="text" matInput formControlName="groupName" placeholder="Group Name" (keyup.enter)="onCreateGroup()">
  </mat-form-field>
 
</form>

<div mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-stroked-button  mat-dialog-close class="close-button">Cancel</button>
    <button mat-flat-button [disabled]="groupForm.invalid" (click)="onCreateGroup()">Create</button>
</div>
