<h3 mat-dialog-title>Create User</h3>
<form [formGroup]="userForm" class="user-form">
  <mat-form-field>
      <input type="text" matInput formControlName="username" placeholder="Username">
  </mat-form-field>
  <mat-form-field>
      <input type="text" matInput formControlName="fullname" placeholder="Full Name">
  </mat-form-field>
  <div formGroupName="passwordGroup" class="user-form">
      <mat-form-field>
          <input type="password" matInput formControlName="password" placeholder="Password" >
      </mat-form-field>
      <mat-form-field>
          <input type="password" matInput formControlName="passwordVerify" placeholder="Password Verify">
          <mat-hint *ngIf="!!userForm.get('passwordGroup').get('password').value && userForm.get('passwordGroup').hasError('notMatching')" >Password does not match!</mat-hint>
      </mat-form-field>
  </div>
 
</form>
<mat-dialog-actions>
  <div class="spacer"></div>
    <button mat-flat-button  class="close-button" mat-dialog-close>Cancel</button>
    <button mat-flat-button [disabled]="userForm.invalid" (click)="onCreateUser()">Create</button>
</mat-dialog-actions>