.main-form {
  display: flex;
  flex-direction: column;
}

.w-300px {
  width: 300px;
}

section {
  padding: 24px;
}

.spacer {
  flex: 1 1 10%;
}

.table{
    padding: 14px;
    padding-right : 12px;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex-row-align-end{
    display: flex;
    justify-content: flex-end;
}

.flex-end{
    justify-content: flex-end;
}