
<app-page>
  <app-page-header title="Group Management">
      <button mat-flat-button (click)="onOpenAddGroupForm()">
          <mat-icon>add</mat-icon>
          <span>Add Group</span>
        </button>
  </app-page-header>
  <app-page-content>
      <mat-table [dataSource]="groups">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Group Name</mat-header-cell>
           <mat-cell *matCellDef="let group">{{group.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="toolbox">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let group" class="align-right">
              <button mat-icon-button   [disableRipple]="'true'" [routerLink]="['../group', group.id]"> 
                <mat-icon>edit</mat-icon>
            </button>
           <app-delete-button (onDelete)="onDeleteGroup(group)"></app-delete-button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
  </app-page-content>
</app-page>
