
<app-page>
  <app-page-header title="Groups">
    <button mat-flat-button (click)="onOpenAddGroupForm()">
      <mat-icon>add</mat-icon>
      <span>Add Group</span>
    </button>
  </app-page-header>
  <app-page-content>
    <mat-table [dataSource]="groupDataSource?.items | async">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let group">{{group.name}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
      <mat-row *matRowDef="let group; columns: displayedColumns;"
        [routerLink]="['../group',group.id]"></mat-row>
    </mat-table>
    <mat-paginator [length]="groupDataSource?.totalItems | async"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
    </mat-paginator>
  </app-page-content>
</app-page>
