<app-page>
  <app-page-header title="{{user.name}} - Modify">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <span></span>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before"
      [overlapTrigger]="false">
      <div mat-menu-item>
        <button mat-flat-button color="warn">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </mat-menu>
  </app-page-header>
  <app-page-content>
    <div class="form-w-350px">
      <form [formGroup]="userForm" class="form">
        <mat-form-field>
          <input type="text" matInput formControlName="username"
            placeholder="Username">

        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="fullname"
            placeholder="Full Name">
        </mat-form-field>
        <div class="save-button">
          <button mat-flat-button [disabled]="userForm.invalid" (click)="onUpdateUserInfo()">Update</button>
        </div>
      </form>

    </div>
    <mat-divider></mat-divider>
    <div class="form-w-350px">
      <form [formGroup]="passwordForm" class="form">
        <mat-form-field>
          <input type="text" matInput formControlName="password"
            placeholder="Password">
         
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="passwordVerify"
            placeholder="Password Verify">
            <mat-hint class="error" *ngIf="!!passwordForm.get('password').value && passwordForm.hasError('notMatching')">Password does not match!</mat-hint>
        </mat-form-field>
        <div class="save-button">
          <button mat-flat-button [disabled]="passwordForm.invalid" (click)="onUpdatePassword()">Update</button>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="form form-w-350px">
      <div class="form-title">Add User To Group</div>
      <mat-form-field>
        <mat-select placeholder="" (selectionChange)="onAddGroup($event.value)">
          <mat-option *ngFor="let group of allGroups" [value]="group">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-table [dataSource]="userGroups">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="pl-1">Name</mat-header-cell>
        <mat-cell *matCellDef="let group" class="pl-1">{{group.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="toolbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let group" class="align-right">
          <app-delete-button></app-delete-button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name','toolbox'];"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name','toolbox'];"></mat-row>
    </mat-table>
  </app-page-content>
</app-page>
