mat-drawer-container {
  height: 100%;
}

mat-drawer {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  min-width: 200px;
  /* background-color: transparent; */
}

mat-drawer-content {
  padding: 20px;
}

mat-expansion-panel {
  /* background-color: transparent; */
}

mat-list-item * {
  /* color: rgb(97, 97, 97); */
}

mat-nav-list h4 {
  text-transform: uppercase;
}
