body {
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
}

mat-toolbar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    min-width: 1024px;
    box-shadow: 0 3px 3px gray;
}

mat-toolbar button {
    margin: 0 2px;
}

mat-toolbar button span {
    text-transform: uppercase;
}

mat-toolbar .spacer {
    flex: 1 1 auto;
}

mat-toolbar input {
    width: 300px;
    height: 30px;
    margin: 0 5px 0 5px;
    padding: 5px 15px;
    border: 0;
    /* background-color: #f2f2f2; */
}

.container {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0;
    right: 0;
}

input[type="search"] {
    font-size: medium;
    background: white;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}