.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: white;
}

.app-toolbar {
  z-index: 2;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.app-toolbar input[type="search"] {
  width: 300px;
  height: 30px;
  /* margin: 0 5px 0 5px; */
  padding: 5px 15px;
  border: 0;
  /* background-color: #f2f2f2; */

  font-size: medium;
  background: white;
  border-radius: 2px;
}

.app-toolbar .button {
  font-family: "Roboto Mono", "Arial", "sans-serif";
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0.5rem;
}

.app-toolbar .button:hover {
  color: lightgray;
}

.app-toolbar .button .mat-icon {
}

.app-toolbar .button span {
  text-transform: capitalize;
  margin: 0 0.5rem;
}

.app-toolbar > .divider {
  border-left: 1px solid #3f51b5;
  border-right: 1px solid rgb(122, 146, 167);
  height: 100%;
  /* margin: 0 1em; */
  /* position: absolute;
  right: 249px;
  top: 10px; */
}

.app-toolbar .spacer {
  flex: 1 1 auto;
}

.app-content {
  flex: 1;
  /* max-width: 1024px; */
  margin: auto;
}
