<mat-toolbar color="primary">
    <button mat-button routerLink="/" routerLinkActive="active">
      <mat-icon>polymer</mat-icon>
      <span>Mercury</span>
    </button>
    <input matInput type="search" placeholder="Search" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option [value]="boo">boo</mat-option>
        <!-- <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option> -->
    </mat-autocomplete>
    <span class="spacer"></span>
    <button mat-button routerLink="/sales/order" routerLinkActive="active">
      <span>Sales</span>
    </button>
    <button mat-button routerLink="/admin" routerLinkActive="active">
      <span>Purchasing</span>
    </button>
    <button mat-button routerLink="/admin" routerLinkActive="active">
      <span>Inventory</span>
    </button>
    <button mat-button routerLink="/admin" routerLinkActive="active">
      <span>Accounting</span>
    </button>
    <button mat-button routerLink="/admin" routerLinkActive="active">
      <span>Management</span>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>