<div class="container">
    <div class="header">
        Sales Order
    </div>
    <mat-divider></mat-divider>
    <div class="top">
        <div class="customer">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Customer" aria-label="State" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of notme | async" [value]="state.name">
                        <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                        <span>{{ state.name }}</span> |
                        <small>Population: {{state.population}}</small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                Customer Information
            </div>
        </div>
        <div class="other">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Document No." aria-label="State" [matAutocomplete]="auto">
                <span matPrefix>SO-</span>
            </mat-form-field>
        </div>
    </div>
    <div class="bottom">
        <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

            <!-- <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
            </ng-container> -->

            <!-- Product Column -->
            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <input matInput aria-label="State" [matAutocomplete]="auto" value="{{ row.product }}" placeholder="Product">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates" [value]="state.name">
                            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                            <span>{{ state.name }}</span> |
                            <small>Population: {{state.population}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-cell>
            </ng-container>

            <!-- Qty Column -->
            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <input matInput aria-label="State" [matAutocomplete]="auto" value="{{ row.product }}" placeholder="Product">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates" [value]="state.name">
                            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                            <span>{{ state.name }}</span> |
                            <small>Population: {{state.population}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-cell>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <input matInput aria-label="State" [matAutocomplete]="auto" value="{{ row.product }}" placeholder="Product">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates" [value]="state.name">
                            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                            <span>{{ state.name }}</span> |
                            <small>Population: {{state.population}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.total }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button><mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="total">
        <label for="">Grand Total: </label>
        <mat-form-field>
            <input matInput value="125 {{total}}" class="grand-total" readonly/>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button>Reset</button>
    </div>
</div>