<input matInput placeholder="Search" aria-label="Search" [matAutocomplete]="auto" [formControl]="searchInput" (keyup.esc)="reset()" onClick="this.select();">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect()" [displayWith]="productDesc">
    <mat-option *ngFor="let product of products$ | async" [value]="product">
        <span>{{ product.brand }}</span>
        <span>{{ product.category }}</span>
        <span>{{ product.model }}</span>
        <span>{{ product.specs }}</span>
    </mat-option>
</mat-autocomplete>