<div class="container">

  <div class="toolbar">
    <span class="title">Payment</span>
    <mat-chip-list>
      <mat-chip selected color="primary">
        Complete
      </mat-chip>
      <mat-chip selected color="warn">
        Canceled
      </mat-chip>
    </mat-chip-list>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <span></span>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
      <div mat-menu-item>
        <button mat-flat-button color="warn">
          <mat-icon>block</mat-icon>
          <span>Cancel</span>
        </button>
      </div>
    </mat-menu>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="form" class="content">
    <div class="header">
      <div class="grid-container center">
        <mat-form-field class="grid-30" floatLabel="always" appearance="fill">
          <mat-label>Ref No.</mat-label>
          <input matInput aria-label="Document No." formControlName="ref_no">
        </mat-form-field>
        <mat-form-field class="prefix-40 grid-30" floatLabel="always" appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput aria-label="Date" [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="grid-container">
        <mat-form-field class="grid-100" floatLabel="always" appearance="fill">
          <mat-label>Contact</mat-label>
          <input matInput aria-label="Document No." formControlName="contact">
        </mat-form-field>
      </div>
      <div class="grid-container">
        <mat-form-field class="grid-40" floatLabel="always" appearance="fill">
          <mat-label>Payment Mode</mat-label>
          <input matInput aria-label="Document No." formControlName="mode">
        </mat-form-field>
        <mat-form-field class="grid-60" floatLabel="always" appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput aria-label="Document No." formControlName="amount">
        </mat-form-field>
      </div>
    </div>
  </form>

  <mat-divider></mat-divider>

  <div class="toolbar">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>check</mat-icon>
      <span class="text">Save</span>
    </button>
  </div>
</div>