<div class="container">

  <div class="toolbar">
    <span class="title">Contact</span>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="form" class="content">
    
    <div class="grid-container">
      <mat-form-field class="grid-100" floatLabel="always" appearance="fill">
        <span matPrefix>
          <mat-icon>person</mat-icon>
        </span>
        <mat-label>Contact Name</mat-label>
        <input matInput aria-label="Name" formControlName="name">
      </mat-form-field>
    </div>

    <ng-container *ngFor="let num of form.get('numbers').controls; let i=index">
      <div class="grid-container">
        <div class="grid-15 heading" *ngIf="i == 0">
          <span>Phones</span>
          <mat-icon>phone</mat-icon>
        </div>
        <mat-form-field class="grid-85" floatLabel="always" appearance="fill" [ngClass]="{'prefix-15': i > 0}">
          <span matPrefix>
            <mat-icon>phone</mat-icon>
          </span>
          <mat-label>Phone No. {{i+1}}</mat-label>
          <input matInput aria-label="Phone No." [formControl]="num">
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngFor="let add of form.get('addresses').controls; let i=index">
      <div class="grid-container">
        <div class="grid-15 heading" *ngIf="i == 0">
          <span>Addresses</span>
          <mat-icon>location_city</mat-icon>
        </div>
        <mat-form-field class="grid-85" floatLabel="always" appearance="fill" [ngClass]="{'prefix-15': i > 0}">
          <span matPrefix>
            <mat-icon>location_city</mat-icon>
          </span>
          <mat-label>Address {{i+1}}</mat-label>
          <input matInput aria-label="Address" [formControl]="add">
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngFor="let email of form.get('emails').controls; let i=index">
      <div class="grid-container">
        <div class="grid-15 heading" *ngIf="i == 0">
          <span>Emails</span>
          <mat-icon>email</mat-icon>
        </div>
        <mat-form-field class="grid-85" floatLabel="always" appearance="fill" [ngClass]="{'prefix-15': i > 0}">
          <span matPrefix>
            <mat-icon>email</mat-icon>
          </span>
          <mat-label>Email {{i+1}}</mat-label>
          <input matInput aria-label="Email" [formControl]="email">
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngFor="let link of form.get('links').controls; let i=index">
      <div class="grid-container">
        <div class="grid-15 heading" *ngIf="i == 0">
          <span>Links</span>
          <mat-icon>link</mat-icon>
        </div>
        <mat-form-field class="grid-85" floatLabel="always" appearance="fill" [ngClass]="{'prefix-15': i > 0}">
          <span matPrefix>
            <mat-icon>link</mat-icon>
          </span>
          <mat-label>Link {{i+1}}</mat-label>
          <input matInput aria-label="Link" [formControl]="link">
        </mat-form-field>
      </div>
    </ng-container>

    <div class="grid-container">
      <div class="grid-15 heading">
        <span>Notes</span>
        <mat-icon>note</mat-icon>
      </div>
      <mat-form-field class="grid-85" floatLabel="always" appearance="fill">
        <span matPrefix>
          <mat-icon>note</mat-icon>
        </span>
        <mat-label>Notes</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
  </form>

  <mat-divider></mat-divider>

  <div class="toolbar">
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary" (click)="onSave()">
      <mat-icon>check</mat-icon>
      <span class="text">Save</span>
    </button>
    <button mat-raised-button mat-dialog-close color="basic">
      <mat-icon>cancel</mat-icon>
      <span class="text">Cancel</span>
    </button>    
  </div>

</div>