.order {
    display: flex;
    justify-content: space-evenly;
}

.order>mat-form-field {
    min-width: 125px;
    width: 125px;
    margin: 3px;
    flex-grow: 1;
}

.order>mat-form-field.product-field {
    flex-grow: 20;
}

.suffix {
    margin-left: 3px;
}

input[type=number] {
    text-align: right
}