<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title>SALES ORDER</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content">
        <div class="top">
            <div class="customer">
                <mat-form-field floatLabel="always" appearance="fill">
                    <mat-label>Customer</mat-label>
                    <input matInput aria-label="State" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let state of notme | async" [value]="state.name">
                            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                            <span>{{ state.name }}</span> |
                            <small>Population: {{state.population}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    Customer Information
                </div>
            </div>
            <div class="other">
                <mat-form-field floatLabel="always" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput aria-label="Date" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="fill">
                    <mat-label>Document No.</mat-label>
                    <input matInput aria-label="Document No." [matAutocomplete]="auto">
                    <span matPrefix>PO-</span>
                </mat-form-field>
            </div>
        </div>
        <div class="bottom">
            <mat-list dense>
                <mat-list-item>
                    <ul class="product-table-heading">
                        <li class="product-heading">Product</li>
                        <li>Qty</li>
                        <li>Price</li>
                        <li>Total</li>
                    </ul>
                </mat-list-item>
                <mat-list-item class="product-table-row" *ngFor="let p of products">
                    <app-order-product [order]="p"></app-order-product>
                </mat-list-item>
                <mat-list-item>
                    <div class="product-table-total">
                        <mat-form-field class="grand-total">
                            <span matPrefix>GRAND TOTAL</span>
                            <span matSuffix>Php</span>
                            <input matInput value="125 {{total}}" readonly/>
                        </mat-form-field>
                    </div>
                </mat-list-item>
            </mat-list>
            <!-- <mat-list dense>
                <mat-list-item>
                    <ul class="product-table-heading">
                        <li class="product-heading">Product</li>
                        <li>Price</li>
                    </ul>
                </mat-list-item>
                <mat-list-item class="product-table-row" *ngFor="let p of products">
                    <app-order-service></app-order-service>
                </mat-list-item>
                <mat-list-item>
                    <div class="product-table-total">
                        <mat-form-field class="grand-total">
                            <span matPrefix>GRAND TOTAL</span>
                            <span matSuffix>Php</span>
                            <input matInput value="125 {{total}}" readonly/>
                        </mat-form-field>
                    </div>
                </mat-list-item>
            </mat-list> -->
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="actions">
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button>Reset</button>
    </mat-card-actions>
</mat-card>