<app-page>
    <app-page-header title="Users">
        <button matSuffix mat-flat-button (click)="onOpenAddUserForm()"
            class="mb-0">
            <mat-icon>add</mat-icon>
            <span>Add User</span>
        </button>
    </app-page-header>
    <app-page-content>
            <mat-form-field class="search-field">
                    <input type="text" matInput placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
        
                </mat-form-field>
                <mat-table [dataSource]="users$ | async">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="text-left">Username</mat-header-cell>
                        <mat-cell
                         *matCellDef="let user" class="text-left">{{user.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="display_name">
                        <mat-header-cell *matHeaderCellDef class="text-left">Full Name</mat-header-cell>
                        <mat-cell
                         *matCellDef="let user" class="text-left">{{user.display_name}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                    <mat-row *matRowDef="let user; columns: displayedColumns;"      [routerLink]="['../user', user.id]"></mat-row>
                </mat-table>
    </app-page-content>
</app-page>
