<div class="container">
    <div class="toolbar">
      <span class="title">User Management</span>
      <span class="spacer"></span>
      <mat-form-field class="search-field">
          <input type="text" matInput placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
          
      </mat-form-field>
      <button mat-flat-button (click)="onOpenAddUserForm()">
          <mat-icon>add</mat-icon>
          <span>Add User</span>
        </button>
    </div>
  
    <mat-divider></mat-divider>
    <div class="table">
        <table class="highlight responsive-table bordered">
          <thead>
            <tr class="grid-container header">
              <th class="grid-40 text-left">
                Username
              </th>
              <th class="grid-40 text-left">
                Full Name
              </th>
              <th class="grid-20">
              </th>
            </tr>
          </thead>
          <tbody>
              <tr class="grid-container content" *ngFor="let user of (users$ | async)" >
                  <td class="grid-40 text-left">
                      {{user.name}}
                  </td>
                  <td class="grid-40 text-left">
                      {{user.display_name}}
                  </td>
                  <td class="grid-20 text-right">
                      <button mat-icon-button   [disableRipple]="'true'" [routerLink]="['../user', user.id]"> 
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button   [disableRipple]="'true'"> 
                        <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
          </tbody>
        </table>
  </div>